<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<!DOCTYPE PPU SYSTEM "PPUnversioned.dtd">
<PPU>
	<GMI>
		<KEY></KEY>
		<FI c="PbaPro file" o="AIM GmbH" d="2020-03-19"/>
		<FI c="Framework Version" d="V02.70.0.171"/>
		<FI c="CompVers" o="Qt Version" d="40807"/>
		<FI c="CompVers" o="PBA.pro ActiveX component" d="V02.70.0.171"/>
		<FI c="CompVers" o="PBA.pro ANA-widgets library component" d="V02.70.0.171"/>
		<FI c="CompVers" o="PBA.pro DBS component" d="V02.70.0.171"/>
		<FI c="CompVers" o="PBA.pro designer component" d="V02.70.0.171"/>
		<FI c="CompVers" o="PBA.pro examples component" d="V02.70.0.171"/>
		<FI c="CompVers" o="PBA.pro legacy import library" d="V02.70.0.171"/>
		<FI c="CompVers" o="PBA.pro KDC component" d="V02.70.0.171"/>
		<FI c="CompVers" o="PBA.pro LGPL component" d="V02.70.0.171"/>
		<FI c="CompVers" o="PBA.pro MIL component" d="V02.70.0.171"/>
		<FI c="CompVers" o="PBA.pro QWT component" d="V02.70.0.171"/>
		<FI c="CompVers" o="PBA.pro Saver component" d="V02.70.0.171"/>
		<FI c="CompVers" o="Enables 3910 and Efex Resources" d="V02.70.0.171"/>
		<FI c="CompVers" o="PBA.pro Python component starter." d="V02.70.0.171"/>
		<FI c="CompVers" o="PBA.pro QML component" d="V02.70.0.171"/>
		<FI c="CompVers" o="AIM Recordingfile- and DACFF-Converter" d="V02.70.0.171"/>
		<FI c="CompVers" o="PBA.pro Python component for Python 2.7.12." d="V02.70.0.171"/>
		<FI c="FileType" o="ProjectFile"/>
		<FI c="FileComment" o=""/>
		<FI c="Locale" o="C"/>
	</GMI>
	<CL ty="PBBaseDialog" n="dialog">
		<SS d="CTO;VCR=pb_dialog;WDG=dialog;SUP="/>
		<SS d="CTO;VCR=pb_pushbutton;WDG=btnTest1;SUP=dialog"/>
		<SS d="EOS"/>
		<PR d="geometry=7f,10a,1f4,190;pos=7f,10a;updatesEnabled=true;templateName=Template1;standalone=true"/>
		<CL ty="PBPushButton" n="btnTest1">
			<PR d="geometry=9,a9,1d4,17;palette=$COMP$:,,13,b5,78,5e,ed,97,b1,d,c3,30,c,4,e9,65,b2,80,7,48,93,65,b2,41,56,71,97,c1,dc,65,1,57,49,e9,80,b2,2b,2,c,bf,d0,15,1,f4,2e,c,f0,f0,f,d9,a2,40,c8,cc,6e,36,4d,fb,6e,a7,ae,9b,fd,94,ca,3d,73,6b,d2,3d,15,f7,cc,43,ba,a7,e2,9e,f9,6a,d2,3d,15,f7,cc,67,93,ee,a9,38,95,19,6b,99,54,4e,ed,51,ac,65,52,39,b5,4e,a2,e7,ef,4d,ba,a7,e2,9e,39,cf,cb,d2,fb,db,89,ff,e9,ef,de,99,9e,d7,3b,f3,7d,f1,47,f7,94,1c,ec,f9,75,d5,3d,15,a7,ce,e6,a3,49,f7,54,9c,3a,9b,44,cf,7f,9a,74,4f,c5,a9,d9,41,64,12,fb,4e,ec,11,b1,4e,a2,3f,89,cc,58,cb,a4,f2,31,8f,fa,67,8e,79,a4,7b,2a,4e,65,12,67,93,e8,f9,71,3f,d2,3d,15,a7,f6,28,d6,32,a9,9c,5a,27,d1,f3,c4,fd,88,58,67,ac,65,52,f9,98,47,a1,96,48,e5,ff,32,8f,be,,c0,1e,ac;visible=true"/>
		</CL>
		<CL ty="PBGridLayout" n="layout">
			<SS d="dialog.btnTest1;0;0;1;1"/>
			<PR d="sizeConstraint=1;Rows=1;Columns=1;LeftMargin=9;RightMargin=9;TopMargin=9;BottomMargin=9;VerticalSpacing=6;HorizontalSpacing=6;VerticalCellStretch=0;HorizontalCellStretch=0;PaintGrid=true;GridPen=,,,4d,,,51,,,,,,,,,,1,1,ff,ff,,,,,cd,cd,,,3f,f0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,3f,f0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,3f,f0,,,,,,,40,,,,,,,,,,,,,,,,,,,;DefaultCellSize=14,14;DefaultVerticalSizePolicy=1;DefaultHorizontalSizePolicy=1;DefaultAlignment=0"/>
		</CL>
	</CL>
</PPU>
